[submodule "University/Pong"]
	path = University/Pong
	url = https://github.com/TillWege/Pong.git
[submodule "University/HaseUndWolf"]
	path = University/HaseUndWolf
	url = https://github.com/TillWege/HaseUndWolf.git
[submodule "OldJavaStuffFromSchool/LDS"]
	path = OldJavaStuffFromSchool/LDS
	url = https://github.com/TillWege/LDS.git
[submodule "OldJavaStuffFromSchool/JSwing-Paint"]
	path = OldJavaStuffFromSchool/JSwing-Paint
	url = https://github.com/TillWege/JSwing-Paint.git
[submodule "OldJavaStuffFromSchool/Infpaint2"]
	path = OldJavaStuffFromSchool/Infpaint2
	url = https://github.com/TillWege/Infpaint2.git
[submodule "OldJavaStuffFromSchool/eph-.4"]
	path = OldJavaStuffFromSchool/eph-.4
	url = https://github.com/TillWege/eph-.4.git
[submodule "OldJavaStuffFromSchool/infpaint"]
	path = OldJavaStuffFromSchool/infpaint
	url = https://github.com/TillWege/infpaint.git
[submodule "OldJavaStuffFromSchool/MyPaint"]
	path = OldJavaStuffFromSchool/MyPaint
	url = https://github.com/TillWege/MyPaint.git
[submodule "rust-of-life"]
	path = rust-of-life
	url = https://github.com/TillWege/rust-of-life.git
[submodule "University/Search-Engine"]
	path = University/Search-Engine
	url = https://github.com/TillWege/Search-Engine
[submodule "University/Medieninformatik"]
	path = University/Medieninformatik
	url = https://github.com/TillWege/Medieninformatik.git
[submodule "Stuff/TanKI"]
	path = Stuff/TanKI
	url = https://github.com/TillWege/TanKI.git
[submodule "OldJavaStuffFromSchool/gnomesort"]
	path = OldJavaStuffFromSchool/gnomesort
	url = https://github.com/TillWege/gnomesort.git
[submodule "OldJavaStuffFromSchool/Q2IF"]
	path = OldJavaStuffFromSchool/Q2IF
	url = https://github.com/TillWege/Q2IF.git
[submodule "OldJavaStuffFromSchool/JavaDatabaseViewer"]
	path = OldJavaStuffFromSchool/JavaDatabaseViewer
	url = https://github.com/TillWege/JavaDatabaseViewer.git
[submodule "Stuff/6502-Emulator"]
	path = Stuff/6502-Emulator
	url = https://github.com/TillWege/6502-Emulator.git
[submodule "Stuff/BfBot"]
	path = Stuff/BfBot
	url = https://github.com/TillWege/BfBot.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/TillWege/dotfiles.git
[submodule "Games/RayChess"]
	path = Games/RayChess
	url = https://github.com/TillWege/RayChess.git
[submodule "Games/Universe-2D"]
	path = Games/Universe-2D
	url = https://github.com/TillWege/Universe-2D.git
