<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill justify-content-center">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Informationen</a>
        <ng-template ngbNavContent>
            <p>Hier stehen sehr viele Informationen zu dem Ausgewählten Benutzer.</p>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Memes</a>
        <ng-template ngbNavContent>
            <p>Hier stehen die Memes die dieser Benutzer gepostet hat.</p>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>Listen</a>
        <ng-template ngbNavContent>
            <p>Hier stehen die Listen die der Benutzer erstellt hat.</p>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>ActivePageIndex: {{ active }}</pre>
<pre>ProfileIndex {{ id }}</pre>
