<nav class="navbar-light bg-light">
    <ul class="header">
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/home">Meme Manager</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/profile/0">Profile</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/upload">Meme Hochladen</a>
        </li>
        <li class="nav-item" style="align-self: flex-end; padding-right: 1rem; padding-left: 1rem">
            <login-auth-button></login-auth-button>
        </li>
    </ul>
</nav>
